In [1]:
import pandas as pd
import numpy as np
from scipy import stats

# Dataset

In [2]:
height = [170, 165, 155, 175, 66, 45, 22, 45, 67, 12, 334, 567, 34, 567, 334, 12, 13, 14, 145, 16, 19, 90, 9, 87, 65, 43, 23, 46, 9, 7]
weight = [58, 52, 63, 33, 34, 55, 67, 888, 232, 233, 18, 89, 67, 777, 78, 87, 123, 213, 124, 656, 345, 345, 345, 345, 34, 34, 24, 24, 23, 12]

classification = [''] * len(weight)  # Initializing classification list

for i in range(len(weight)):
    if weight[i] > 150:
        classification[i] = "Animal"
    else:
        classification[i] = "Human"

In [3]:
data = {
    'height':height,
    'weight':weight,
    'classification':classification
}
df=pd.DataFrame(data)
print(df)

    height  weight classification
0      170      58          Human
1      165      52          Human
2      155      63          Human
3      175      33          Human
4       66      34          Human
5       45      55          Human
6       22      67          Human
7       45     888         Animal
8       67     232         Animal
9       12     233         Animal
10     334      18          Human
11     567      89          Human
12      34      67          Human
13     567     777         Animal
14     334      78          Human
15      12      87          Human
16      13     123          Human
17      14     213         Animal
18     145     124          Human
19      16     656         Animal
20      19     345         Animal
21      90     345         Animal
22       9     345         Animal
23      87     345         Animal
24      65      34          Human
25      43      34          Human
26      23      24          Human
27      46      24          Human
28       9      23          Human
29       7      12          Human